@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, 'sans-serif';
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f172a;
    background-color: #0f172a;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 75%;
    width: 35%;
    border-radius: 0.5em;
}

.head {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100px;
}

#title {
    margin-top: 28px;
    font-weight: 550;
    font-size: 2em;
}

.amount {
    position: absolute;
    margin-top: 8.5em;
    left: 0;
}

.amount p {
    margin-left: 2em;
    font-size: 1.3em;
    font-weight: 500;
}

.amount input {
    position: absolute;
    background: transparent;
    outline: none;
    border: none;
    border: 1px solid grey;
    color: #0f172a;
    width: 22.5em;
    margin-left: 2em;
    margin-top: 0.5em;
    border-radius: 0.4em;
    font-size: 20px;
    padding: 13px 0 13px 20px;
    transition: border-color 0.3s ease;
}

.converter {
    position: absolute;
    width: 28em;
    margin-top: 16em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -0.5em;
}

.from p {
    font-size: 1.3em;
    font-weight: 500;

}

.from select {
    margin-top: 0.6em;
    width: 10em;
    height: 4em;
    padding-left: 5em;
    border-radius: 0.4em;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

#exchangeImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    margin-top: 2.5em;
    cursor: pointer;
}

.to p {
    font-size: 1.3em;
    font-weight: 500;
}

.to select {
    margin-top: 0.6em;
    width: 10em;
    height: 4em;
    padding-left: 5em;
    padding-right: 0.2em;
    border-radius: 0.4em;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.flag {
    position: absolute;
    width: 2.5em;
    margin-top: 0.89em;
    margin-left: 0.7em;
}

.exchangeButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30em;
}

.output {
    position: absolute;
    width: 84%;
    display: flex;
    justify-content: flex-start;
    margin-top: 23.5em;
    font-weight: 550;
}

.exchangeButton button {
    width: 22em;
    margin-top: -40px;
    background-color: #0f172a;
    color: #fff;
    font-size: 1.3em;
    padding: 0.8em 3em 0.8em 3em;
    border-radius: 0.2em;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background 0.3s ease;
}

.exchangeButton button:hover {
    background: rgb(104, 142, 160);
}

.amount input:hover {
    border-color: #0f172a;
}

.from select:hover,
.to select:hover {
    border-color: #0f172a;
}